.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
coverage
client/test/unit/coverage
test/e2e/reports
selenium-debug.log
.env

# IntelliJ IDEA
.idea
*.iml

**/.nyc_output

# NPM package-lock files
# package-lock.json

# DB data files
*.sqlite

